@font-face {
    font-family: "Montserrat";
    src: url();
}
body {
    font-family: "Montserrat", sans-serif;
    color: #FFF;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-background {
    position: absolute;
    width: 1440px;
    height: 2080px;
    background: url(../images/background-image.png);
    object-fit: contain;
    background-size: 100%;
    z-index: -1;
}

.main-background::before {
    background-color: rgba(0, 0, 0, 0.40);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.header-logo {
    padding: 60px;
    display: block;
    margin: auto;
}
.header-menu__list{
    display: flex;
    margin: auto;
    width: 110px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-align: center;
}

.blog {
    display: block;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.blog-block {
    width: inherit;
    height: fit-content;
    
}

.blog-block__view {
    display: flex;
    flex-direction: column;
    padding: 0 0 60px 40px;
    width: inherit;
    height: 330px;
    background: url(../images/blog-1.png);
    object-fit: contain;
    background-size: 100%;
}

.blog-block__view-person {
    margin-top: 160px;
    display: flex;
    column-gap: 14px;
    margin-bottom: 20px;
}

.blog-block__view-person__record {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
.blog-block__view-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
